<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="/layout/layout_member.html">




    <div layout:fragment="content" id ="container" class="container">
        <div class="mem_wrap">
            <div class="indicator_wrap">
                <ul>
                    <li>
                        <span class="hidden">1. 회원 약관동의(현재 단계)</span>
                    </li>
                    <li>
                        <span class="hidden">2. 본인인증</span>
                    </li>
                    <li >
                        <span class="hidden">3. 기존 회원여부 확인</span>
                    </li>
                    <li  class="on">
                        <span class="hidden">4. 회원 정보 입력</span>
                    </li>
                    <li>
                        <span class="hidden">5. 가입완료</span>
                    </li>
                </ul>
            </div>
            
            <h3 class="mem_tit">회원정보 입력</h3>
            <p class="text_type10">회원님의 개인정보를 입력해주시기 바랍니다.</p>
            <div class="title_wrap_type">
                <div class="f1">
                    <h4 class="f1">회원정보 입력</h4>
                </div>
            </div>
            <table class="table_form">
                <caption>
                    <strong>회원정보 입력 표로 상세한 회원 정보를 입력할 수 있습니다.</strong>
                    <p>
                        한글명, 영문명, 성별, 거주지역, 아이디, 비빌번호, 비밀번호 확인, 휴대전화, 이메일로 구성된 표입니다.
                    </p>
                </caption>    
                <colgroup>
                    <col style="width:210px">
                    <col style="width:auto";>
                </colgroup>
                <tbody>
                    <tr>
                        <th scope="row">
                            <label for="input_koreanLastName">한글명</label>
                        </th>
                        <td>
                           <input type="text" id="input_koreanLastName" name="koreanLastName" placeholder="한글 성 입력(예 : 김)" title="한글 성 입력(예 : 김)" style="width:314px;"> 
                           <input type="text" id="input_koreanFirstName" name="koreanFirstName" placeholder="한글 이름 입력(예 : 보미)" title="한글 이름 입력(예 : 보미)" style="width:314px;">
                           <p class="txt_error_msg" id="error_koreanName" style="display:none;"></p> 
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <label for="input_englishLastName">영문명</label>
                        </th>
                        <td>
                           <input type="text" id="input_englishLastName" name="englishLastName" placeholder="영문 성 입력(예 : kim)" title="한글 성 입력(예 : 김)" maxlength="40" style="width:314px;"> 
                           <input type="text" id="input_englishFirstName" name="englishFirstName" placeholder="영문 이름 입력(예 : bomi)" title="영문 이름 입력(예 : bomi)" maxlength="40" style="width:314px;">
                           <p class="txt_error_msg" id="error_koreanName" style="display:none;"></p> 
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <label for="input_koreanLastName">성별</label>
                        </th>
                        <td>
                            <input type="radio" name="gender" id="gender_man" value="M" checked >
                            <label for="gender_man">남</label>
                            <input type="radio" name="gender" id="gender_woman" value="F" >
                            <label for="gender_woman">여</label>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <label for="select_residentCountry">거주지역</label>
                        </th>
                        <td>
                            <select id="select_residentCountry" style="width:420px;" onchange="select_country();" >
                                <option value="KR">대한민국</option>
                            </select>
                            <button type="button" class="btn_S white" id="btn_changeResidentCountry" >변경</button>
                            <p class="txt_error_msg" id="error_residentCountry" style="display:none;">
                                거주지역이 변경됐습니다. 변경 버튼을 눌러주세요.
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <label for="input_id">아이디</label>
                        </th>
                        <td>
                            <input type="text" id="input_id" name="input_id" placeholder="6~15자리 영문+숫자" title="6~15자리 영문+숫자" style="width:300px;">
                            <button type="button" class="btn_S white" id="btn_idCheck" onclick="idCheck_open()">중복확인</button>
                            <ul class="list_type1 f14 mar_to">
                                <li>
                                    6~15자리 영문(대소문자 구별), 숫자 조합 입력 가능
                                    <br>
                                    (단 한글, 공백, 특수문자 입력 불가)
                                </li>
                            </ul>
                            <p class="txt_error_msg" id="error_id" style="display:none;"></p>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <label for="input_pw">비밀번호</label>
                        </th>
                        <td>
                           <input type="password" id="input_pw" autocomplete="off" name="input_pw" placeholder="영문+숫자+특수문자 8~20자리" title="영문+숫자+특수문자 8~20자리" style="width:300px;"> 
                            <div class="tooltip_wrap">
                                <a href="javascript:help();" class="btn_info">도움말</a>
                                <div class="layer_tooltip" style="width: 348px;" >
                                    <div class="inner">
                                        <ul class="pwd_rule">
                                            <li>
                                                8자 이상
                                                <span class="unable">불가</span>
                                            </li>
                                            <li>
                                                영문 대/소문자
                                                <span class="able">가능</span>
                                            </li>
                                            <li>
                                                숫자
                                                <span class="unable">불가</span>
                                            </li>
                                            <li>
                                                특수문자
                                                <span class="unable">불가</span>
                                            </li>
                                            <li>
                                                한글, 공백 입력 불가
                                                <span class="able">가능</span>
                                            </li>
                                            <li>
                                                아이디, 회원번호 불가
                                                <span class="able">가능</span>
                                            </li>
                                            <li>
                                                생년월일, 휴대전화 번호 불가
                                                <span class="able">가능</span>
                                            </li>
                                            <li>
                                                이메일주소 불가
                                                <span class="able">가능</span>
                                            </li>
                                            <li>
                                                20자 이내
                                                <span class="able">가능</span>
                                            </li>
                                            <li>
                                                보안정책상 사용 불가
                                                <span class="able">가능</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <a href="javascript:help_close();" class="tooltip_close">
                                        <span class="hidden">닫기</span>
                                    </a>
                                </div>
                            </div>
                            <p class="txt_error_msg" id="error_pw" style="display: none;"></p>
                        </td>
                    </tr>
                    <tr>
                       <th scope="row">
                            <label for="input_pwConfirm">비밀번호 확인</label>
                       </th> 
                       <td>
                            <input type="password" id="input_pwConfirm" autocomplete="off" placeholder="영문+숫자+특수문자 8~20자리" title="영문+숫자+특수문자 8~20자리" style="width:300px">
                            <p class="txt_error_msg" id="error_pwConfirm" style="display:none;"></p>
                       </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <label>휴대전화</label>
                        </th>
                        <td id="korea_phone">
                            <select id="select_koreaPhone" style="width:120px;" title="휴대전화 번호 앞자리" disabled>
                                <option value="">선택</option>
                                <option value="">010</option>
                                <option value="">011</option>
                                <option value="">016</option>
                                <option value="">017</option>
                                <option value="">018</option>
                                <option value="">019</option>
                            </select>
                            <input type="text" id="input_koreaPhoneMiddle" placeholder="중간번호" title="휴대전화 번호 가운데 자리" maxlength="4" style="width:150px;" readonly>
                            -
                            <input type="text" id="input_koreaPhoneLast" placeholder="끝 번호" title="휴대전화번호 끝자리" maxlength="4" style="width:150px" readonly>
                            <p class="txt_error_msg" id="error_koreaPhone" style="display:none;"></p>
                        </td>
                        <td id="foreign_phone" style="display: none;">
                            <input type="hidden" id="input_foreignPhoneNationCode" value="82">
                            <input type="text" id="input_foreignPhoneFirst" placeholder="앞 번호" title="휴대전화 번호 앞자리" style="width:150px" disabled>
                            -
                            <input type="text" id="input_foreignPhoneMiddle" placeholder="중간번호" title="휴대전화 번호 가운데 자리" style="width:150px" readonly>
                            -
                            <input type="text" id="input_foreignPhoneLast" placeholder="끝 번호" title="휴대전화번호 끝자리" style="width:150px;" readonly>
                            <p class="txt_error_msg" id="error_foreignPhone" style="display:none;"></p>
                        </td>
                    </tr>
                    <tr>
                       <th scope="row">
                            <label for="input_emailId">이메일</label>
                       </th>
                       <td>
                            <input type="text" id="input_emailId" placeholder="이메일 입력" title="이메일 아이디 입력" style="width:198px;">
                            @ &nbsp;
                            <select id="select_emailDomain" title="이메일 도메인 선택" style="width:180px">
                                <option value="">직접입력</option>
                                <option value="">naver.com</option>
                                <option value="">yahoo.co.kr</option>
                                <option value="">hotmail.com</option>
                                <option value="">hanmail.net</option>
                                <option value="">nate.com</option>
                                <option value="">gmail.com</option>                            
                            </select>
                            <input type="text" id="input_emailDomain" placeholder="직접입력" title="직접입력" style="width:300px; display: none;">
                            <p class="txt_error_msg" id="error_emailId" style="display:none;"></p>
                            <p class="txt_error_msg" id="error_emailDomain" style="display:none;"></p>
                       </td> 
                    </tr>
                    <tr>
                        <th scope="row">
                            <label>
                                유선전화
                                <br>
                                (선택)
                            </label>
                        </th>
                        <td id="korea_homePhone">
                            <select id="select_koreaHomePhone" title="유선전화 국제번호" style="width:120px">
                                <option value="">02</option>
                                <option value="">031</option>
                                <option value="">032</option>
                                <option value="">041</option>
                            </select>
                            <input type="text" id="input_koreaHomePhoneMiddle" placeholder="중간번호" title="유선전화 번호 가운데 자리" style="width:150px;">
                            -
                            <input type="text" id="input_koreaHomePhoneLast" placeholder="끝 번호" title="유선전화번호 끝자리" style="width:150px;">
                            <p class="txt_error_msg" id="error_koreaHomePhone" style="display:none;"></p>
                        </td>
                        <td id="foreign_homephone" style="display: none;">
                            <input type="hidden" id="input_foreignHomePhoneNationCode" value="82">
                            <input type="text" id="input_foreignHomePhoneFirst" placeholder="앞 번호" title="유선전화버호 앞자리" style="width:150px;">
                            -
                            <input type="text" id="input_foreignHomePhoneMiddle" placeholder="중간번호" title="유선전화번호 가운데 자리" style="width:150px;">
                            -
                            <input type="text" id="input_foreignHomePhoneLast" placeholder="끝 번호" title="유선전화번호 끝 자리" style="width:150px;">
                            <p class="txt_error_msg" id="error_foreignHomePhone" style="display:none;"></p>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <label for="input_defaultAddress">
                                주소
                                <br>
                                (선택)
                            </label>
                        </th>
                        <td id="korea_address">
                            <p>
                                <input type="text" id="input_zipCode" placeholder="우편번호" title="우펴번호" style="width: 105px;" readonly>
                                <button type="button" class="btn_popup" id="btn_zipCode">
                                    우편번호 검색
                                </button>
                            </p>
                            <p class="mar_to">
                                <input type="text" id="input_defaultAddress" placeholder="기본 주소" title="기본 주소" style="width:400px;" readonly>
                                <input type="text" id="input_detailAddress" placeholder="상세 주소" title="상세 주소" style="width:400px;">
                            </p>
                            <ul class="list_type f14 mar_to">
                                <li>
                                    제공해주신 주소는 이벤트 또는 우수회원 승급 서비스 제공을 위해 이용됩니다.
                                </li>
                            </ul>
                            <p class="txt_error_msg" id="error_koreaAddress" style="display:none;"></p>
                        </td>
                        <td id="usa_address" style="display: none;">
                            <p>
                                <input type="text" id="input_usDefaultAddress" placeholder="기본 주소" title="기본 주소" style="width:400px;">
                                <input type="text" id="input_usDetailAddress" placeholder="상세 주소" title="상세 주소" style="width:400px;">
                            </p>
                            <P class="mar_to">
                                <input type="text" id="input_usCity" placeholder="도시(city)" title="도시(city)" style="width:250px;">
                                <input type="text" id="input_usState" placeholder="주(state)" title="주(state)" style="width:250px;">
                                <input type="text" id="input_usZipCode" placeholder="우편번호(zio code)" title="우편번호(zip code)" style="width:250px;">
                            </P>
                            <ul class="list_type f14 mar_to" >
                                <li>제공해주신 주소는 이벤트 또는 우수회원 승급 서비스 제공을 위해 이용됩니다.</li>
                            </ul>
                            <p class="txt_error_msg" id="error_usAddress" style="display:none;"></p>
                        </td>
                        <td id="foreign_address" style="display: none;">
                            <p>
                                <input type="text" id="input_abroadDefaultAddress" placeholder="기본 주소" title="기본 주소" style="width:400px;">
                                <input type="text" id="input_abroadDetailAddress" placeholder="상세 주소" title="상세 주소" style="width:400px;">
                            </p>
                            <p class="mar_to">
                                <input type="text" id="input_abroadCity" placeholder="도시(city)" title="도시(city)" style="width:250px;">
                                <input type="text" id="input_abroadZipCode" placeholder="우편번호(zip code)" title="우편번호(zip code)" style="width:250px;">
                            </p>
                            <ul class="list_type f14 mar_to">
                                <li>제공해주신 주소는 이벤트 또는 우수회원 승급 서비스 제공을 위해 이용됩니다.</li>
                            </ul>
                            <p class="txt_error_msg" id="error_abroadAddress" style="display:none;"></p>
                        </td>
                    </tr>
                    <tr>
                       <th scope="row">
                            뉴스레터 및 상품정보,
                            <br>
                            이벤트 등 수신
                            <br>
                            (선택)
                       </th> 
                       <td>
                            <input type="checkbox" id="check_receiveEmail">
                            <label for="check_receiveEmail">이메일</label>
                            <input type="checkbox" id="check_receiveSms">
                            <label for="check_receiveSms">SMS</label>
                            <ul class="list_type f14 mar_to">
                                <li>
                                    수신에 동의하시면 올카항공의 뉴스레터 및 상품정보, 이벤트 등의 안내를 받아보실 수 있습니다.
                                </li>
                                <li>
                                    회원정보, 예약 및 항공기 운항정보, 서비스 주요정책 관련내용은 수신동의 여부와 관계 없이 발송됩니다.
                                </li>
                            </ul>
                       </td>
                    </tr>
                </tbody>
            </table>
            <div class="register_btn_wrap">
                <button type="button" class="btn_L white" id="btn_cancel">취소</button>
                <button type="button" th:onclick="|location.href='@{/member/login}'|" class="btn_L red" id="btn_confirm">확인</button>
            </div>
        </div>

        <div class="layer_wrap" id="idCheck" style="display: none;">
            <div class="dim_layer"></div>
            <div class="layer_pop" style="width:500px; top: 850px" tabindex="0">
                <div class="pop_cont">
                    <p class="pop_tit st1">
                        다른 아이디를 사용하시려면 입력 후
                        <br>
                        <span class="cal_red">중복확인</span>
                        을 클릭해주시기 바랍니다.
                    </p>
                    <div class="form_area2">
                        <input type="text" id="input_laterInputId" placeholder="아이디 입력" title="아이디 입력" style="width:210px;">
                        <button type="button" class="btn_M white btn_minwidth" id="btn_layerIdCheck" >중복확인</button>
                    </div>
                    <p id="p_idRule" style="display:none">
                        아이디는
                        <span class="col_brown">6~15자리 영문(대소문자 구별), 숫자 조합 입력 가능( 단 한글, 공백, 특수문자 입력 불가)</span>
                        입니다.
                    </p>
                    <p id="p_info" style="display:none">
                        <span class="col_brown">kkk</span>는 사용하실 수 있습니다.
                    </p>
                </div>
                <div class="btn_wrap_cetype">
                    <button type="button" class="btn_M red" id="btn_layerIdUse" disabled>사용하기</button>
                </div>
                <a href="javascript:idCheck_close();" class="dim_close" id="btn_layerClose">
                    <span class="hidden">닫기</span>
                </a>
            </div>
        </div>
    </div>

</html>